# Путь к папке темы WordPress (без /assets на конце)
# Локально в репозитории:
THEME_PATH=C:/Users/RobotComp.ru/Desktop/kwork/2026/alergobot/wp-theme/alergobot-theme

# URL локального сайта OSPanel для BrowserSync proxy (watch:theme)
WP_PROXY_URL=http://wordpress-alergobot.local
