<article class="benefits__card">
    <div class="benefits__card-head">
        <span class="benefits__num">@@num</span>
        <button class="benefits__info tooltip-trigger" type="button" data-tooltip="@@tooltip" aria-label="Подробнее: @@title" aria-expanded="false">
            <svg class="icon benefits__info-icon" aria-hidden="true">
                <use href="@img/icons.svg#icon-eye-info"></use>
            </svg>
        </button>
    </div>
    <h3 class="benefits__card-title">@@title</h3>
</article>