<li class="category__item">
    <div class="category__card">
        <div class="category__content">
            <h2 class="category__title title title-md">@@title</h2>
            <p class="category__text">@@text</p>
        </div>
    </div>
    <div class="category__footer">
        <div class="category__actions">
            <a class="btn btn--primary category__btn" href="@@href">подробнее</a>
            <button class="btn btn--secondary category__btn" type="button" data-fancybox data-src="#popup-order">заказать</button>
        </div>
        <div class="category__media">
            <img src="@@img" alt="@@alt" title="@@titleAttr" width="239" height="164" loading="lazy">
        </div>
    </div>
</li>