<div class="swiper-slide home-partners__slide">
	<a class="home-partners__card" href="@@href" aria-label="@@label">
		<span class="@@wrapClass">
			<img class="home-partners__logo" src="@@img" alt="@@label" title="@@label" width="@@width" height="@@height" loading="lazy">
		</span>
		<span class="home-partners__arrow" aria-hidden="true">
			<svg class="home-partners__arrow-icon icon" width="28" height="28">
				<use href="@img/icons.svg#icon-arrow-up-right"></use>
			</svg>
		</span>
	</a>
</div>
