<article class="news-card">
    <a class="news-card-link" href="@@href">
        <div class="news-card-media">
            <img class="news-card-img" src="@@img" alt="@@alt" title="@@alt" width="295" height="277" loading="lazy">
        </div>
        <div class="news-card-body">
            <time class="news-card-date" datetime="@@datetime">@@date</time>
            <div class="news-card-text">
                <h3 class="news-card-title">@@title</h3>
                <p class="news-card-excerpt">@@excerpt</p>
            </div>
            <span class="news-card-more">
                <span class="news-card-more-label">Читать статью</span>
                <span class="news-card-more-icon" aria-hidden="true">
                    <svg class="icon" width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                        <use href="@img/icons.svg#icon-arrow-up-right"></use>
                    </svg>
                </span>
            </span>
        </div>
    </a>
</article>
