<li class="panels__item@@activeClass">
    <button class="panels__heading" type="button" aria-expanded="@@expanded">
        <span class="panels__name">@@name</span>
        <svg class="panels__chevron icon" width="32" height="32" aria-hidden="true">
            <use href="@img/icons.svg#icon-panels-chevron"></use>
        </svg>
    </button>
    <div class="panels__body">
        <div class="panels__inner">
            <div class="panels__content">
                <div class="panels__main">
                    <div class="panels__desc">
                        <p>@@desc1</p>
                        <p>@@desc2</p>
                    </div>
                    <img class="panels__img" src="@@img" alt="@@alt" title="@@title" width="267" height="144" loading="lazy">
                </div>
                <a class="btn btn--secondary panels__more" href="katalog.html">
                    Подробнее
                    <svg class="btn__icon icon" width="28" height="28" aria-hidden="true">
                        <use href="@img/icons.svg#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</li>