<div class="swiper-slide process__slide" data-animate="bottom">
    <article class="process__card @@cardClass">
        <div class="process__body">
            <span class="process__step">@@step</span>
            <div class="process__text">
                <h3 class="process__card-title">@@title</h3>
                <p class="process__card-desc">@@desc</p>
            </div>
        </div>
        <div class="process__media">
            <img class="cover-image" src="@@img" alt="@@alt" title="@@alt" width="275" height="326" loading="lazy">
        </div>
    </article>
</div>