.not-found {
	padding: rem(16) 0 rem(40);

	@media (min-width: $md3) {
		padding: rem(40) 0 rem(100);
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__head {
		width: 100%;
		max-width: rem(332);
		text-align: center;

		@media (min-width: $md3) {
			max-width: none;
		}
	}

	&__title {
		color: $color-primary;
	}

	&__text {
		margin: rem(10) 0 0;
		line-height: 1.3;
		@include adaptive-font(14, 18);
	}

	&__visual {
		width: 100%;
		max-width: rem(703);
		margin-top: rem(28);
		margin-inline: auto;

		@media (min-width: $md3) {
			margin-top: rem(12);

		}
	}



	&__actions {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: rem(10);
		margin-top: rem(28);

		@media (min-width: $md3) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: rem(20);
			margin-top: rem(45);
		}
	}

	&__btn {
		width: 100%;
		min-height: rem(52);

		@media (min-width: $md3) {
			width: rem(426);
			min-height: $btn-height;
		}
	}
}