<div class="accordion__item@@activeClass">
    <button class="accordion__header" type="button" aria-expanded="@@expanded">
        <span class="accordion__question">@@question</span>
        <svg class="accordion__chevron icon" width="32" height="32" aria-hidden="true">
            <use href="@img/icons.svg#icon-panels-chevron"></use>
        </svg>
    </button>
    <div class="accordion__body">
        <div class="accordion__inner">
            <p class="accordion__answer">@@answer</p>
        </div>
    </div>
</div>