// Страница «Каталог» — Figma: Desktop 2072:756 / 1:793, Mobile 1:5001

.page--catalog {

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}
}

.catalog {
	padding: 1.875rem 0;

	// .catalog__container
	&__container {
		display: flex;
	}

	// .catalog__main
	&__main {
		border-radius: 0.625rem;
		background: #DEF3F9;
		padding: 2.5rem 15.5rem 2.5rem 2.5rem;
		flex: 1 1 auto;
	}

	// .catalog__info
	&__info {
		max-width: 26.5rem;
		display: flex;
		flex-direction: column;
		gap: rem(10);
	}

	// .catalog__title
	&__title {}

	// .catalog__text
	&__text {}

	// .catalog__btn
	&__btn {
		margin-top: rem(10);
	}

	// .catalog__side
	&__side {
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	// .catalog__tag
	&__tag {}

	// .catalog__gallery
	&__gallery {
		margin-top: 4.12rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
		margin-left: -13rem;
	}

	// .catalog__product
	&__product {
		border-radius: 0.625rem;
		border: rem(1) solid #55ACBF;
		background: #EDFBFF;
		width: 19.6875rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 0.5rem;

		& img {
			width: 100%;
			height: auto;

		}

	}
}